.post{
    --post-line-color: #ccc;    
    border: 2px solid  #cf2323;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.8);
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding:5px;
}

.btnCommments{
    border-radius: 2px solid;
    color: #878A8C;
    opacity: 1;
}

.btnCommments:hover{
    opacity: 0.65;
    cursor: pointer;
}

.post-title{
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
}

.posturl, .postname{    
    color: black;
}

.subreddit-text{
    font-weight: bold;
}

.post-text{
    margin-top: 10px;
}

.btn{
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px, 25px;
    margin: 15px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #cf2323;
}

