<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col logo_section">
                <div class="full">
                    <div class="center-desk">
                        <h3 style="color: white;" 
                        *ngIf="!isLoggedIn()"><a routerLink="/user/signin"></a>Wellcome, Guest</h3>
                        <h3 style="color: white;" 
                        *ngIf="isLoggedIn()"><a routerLink="/user/user-profile">Wellcome, {{getUser()}}</a></h3>
                        <!-- <div class="logo">
                            <a href="../../../assets/images/logo.jpg"><img src="images/logo.jpg" alt="logo" /></a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10">
                <div class="menu-area">
                    <div class="limit-box">
                        <nav class="main-menu">
                            <ul class="menu-area-main">
                                <div>
                                    <li> <a routerLink="/">Home</a> </li>
                                </div>
                                
                                <div *ngIf="isLoggedIn()">
                                    <li> <a routerLink="about.html">Quiz</a> </li>
                                    <li> <a routerLink="/posts">Posts</a> </li>
                                    <li> <a routerLink="/user/user-profile">Profile</a> </li>
                                    
                                </div>
                               
                                <div *ngIf="!isLoggedIn()">
                                <li> <a routerLink="/posts">Posts</a> </li>
                                <li> <a routerLink="contact.html">Contact</a> </li>
                                <li> <a routerLink="/user/signup">Register</a> </li>
                                <li> <a routerLink="/user/login">Login</a> </li>
                            </div>
                                
                                <div *ngIf="isLoggedIn()">
                                    <li> <button (click)="logout()">Logout</button> </li>
                                </div>
                                
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">

            </div>
        </div>
    </div>