.header {
     background: #070100;
     padding: 23px 0px;
     border-top: #cf2323 solid 5px;
     border-bottom: #cf2323 solid 5px;
}
 .logo a {
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     line-height: 40px;
}
 .search {
     position: relative;
}
 .search input.form-control {
     width: 100%;
     border-radius: 50px;
     border: none;
     font-size: 15px;
     padding: 7px 35px 7px 15px;
}
 .form-control {
     margin-top: 10px;
}
 .form-control:focus {
     box-shadow: inherit;
}
 .search button {
     position: absolute;
     top: 0;
     right: 0;
     height: 36px;
     width: 36px;
     text-align: center;
     z-index: 1;
     background: transparent;
}
 .relative {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     text-align: center;
     right: 0;
     left: 0;
}
 .Perfect {
     font-weight: normal;
     background: #f70606ab;
     padding: 0px 20px;
     font-size: 51px;
}
 .banner-main {
     position: relative;
}
 .banner-main .carousel-item img {
     width: 100%;
}
 .banner-main .text-bg h1 {
     color: #fff;
     font-size: 70px;
     line-height: 90px;
     font-weight: bold;
}
 .banner-main .text-bg p {
     font-size: 17px;
     padding: 0px 0px 40px 0px;
     color: #fff;
}
 .banner-main .text-bg a {
     border: #fff solid 1px;
     background: #fff;
     width: 209px;
     padding: 12px 0;
     display: inline-block;
     font-weight: 500;
     font-size: 17px;
     line-height: 30px;
     color: #d70a03;
}
 .banner-main .text-bg a:hover {
     border: #d70a03 solid 1px;
     background: #d70a03;
     color: #fff;
}
h3 a{
     color:white
}
.menu-area-main{
     display: flex;
}
.menu-area-main div{
     display: flex;
}
.menu-area-main div li, .menu-are-main li{
     padding: 0 25px;
     font-weight: bold;
     text-transform: uppercase;
     color:  #fff;
     cursor: pointer;
}
button:hover{
     color: #fff;
}
button{
     background-color: black;
     color: blue;
     text-transform: uppercase;
     font-weight: bold;
}

