.sidebar-view-subreddit {
    width: 312px;
    height: 242px;
    --post-line-color: #ccc;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #cf2323;
  }
  
  
  .sidebar-view-subreddit {
    height: 280px;
  }

  .view-button{
    margin:10px;
    padding: 10px 25px;
    background-color: #cf2323;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

a{
  color: #cf2323;
  text-align: center;
  font-weight: bold;
}