<div class="register-section">
  <div class="row justify-content-center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
          <div class="card">
              <div class="card-header" style="text-align: center">
                  <h4>Register</h4>
              </div>
              <div class="card-body">
                  <form [formGroup]="form" (ngSubmit)="submitHandler()">
                      <div class="form-group row">
                          <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail
                              Address</label>
                          <div class="col-md-6">
                              <input [formControlName]="'email'" type="text" id="email_address" class="form-control" name="email-address" required
                                  autofocus>
                                  <span class="error" *ngIf="!form.get('email').valid && form.get('email').touched" class="help-block">Please enter a valid email</span>
                          </div>
                      </div>

                      <div class="form-group row">
                          <label class="col-md-4 col-form-label text-md-right">Username</label>
                          <div class="col-md-6">
                              <input type="text" [formControlName]="'username'" class="form-control" required autofocus>
                              <span class="error" *ngIf="!form.get('username').valid && form.get('username').touched" class="help-block">Username should have at least 5 symbols</span>
                          </div>
                      </div>

                      <div class="form-group row">
                          <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                          <div class="col-md-6">
                              <input [formControlName]="'password'" type="password" id="password" class="form-control" name="password" required>
                              <span class="error" *ngIf="!form.get('password').valid && form.get('password').touched" class="help-block">Password should have at least 4 symbols</span>
                          </div>
                      </div>

                      <div class="form-group row">
                        <label for="rePassword" class="col-md-4 col-form-label text-md-right">Repeat Password</label>
                        <div class="col-md-6">
                            <input [formControlName]="'rePassword'" type="password" id="rePassword" class="form-control" name="rePassword" required>
                            <span class="error" *ngIf="!form.get('rePassword').valid && form.get('rePassword').touched" class="help-block">Passwords should match</span>
                        </div>
                    </div>

                      <span class="col-md-6 offset-md-4">
                          <button type="submit" class="sign-up">
                              Sign Up
                          </button>
                          <span style="padding-left: 15px">Existing user? <a routerLink="/user/login">Log In</a></span>
                      </span>
                  </form>
              </div>
          </div>
      </div>
      <div class="col-md-3"></div>
  </div>
</div>