<div class="sidebar">
    <!-- <img src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png"> -->
    <div class="container-small" style="text-align: center">Use this menu to create a new topic or a new post</div>
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateSubreddit" (click)="goToCreateTheme()">Create Topic</button>
    </div>
</div>
