body{
    background-color: grey;
    font: white;
    font-family: Helvetica, sans-serif;
}


.container{
    padding-top: 60px;
    display: flex;
}

p{
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

h2{
    text-align: center;
    margin-bottom: 40px;
}

.btn-section{
    width: 30%;
    border: 2px solid #cf2323;
    padding: 25px; 
    border-radius: 10px;
    
    text-align: center;
   margin: 0 auto;
   margin-top: 50px;
   margin-bottom: 200px;
}

.btn{
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px, 25px;
    margin: 15px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #cf2323;
}